@font-face {
  font-family: "MoveBold";
  src: local("MoveBold"), url(../fonts/MoveBold.otf);
}
@font-face {
  font-family: "MoveMedium";
  src: local("MoveMedium"), url(../fonts/MoveMedium.otf);
}
@font-face {
  font-family: "MoveRegular";
  src: local("MoveRegular"), url(../fonts/MoveRegular.ttf);
}
@font-face {
  font-family: "MoveLight";
  src: local("MoveLight"), url(../fonts/MoveLight.ttf);
}
@font-face {
  font-family: "MoveTextBold";
  src: local("MoveTextBold"), url(../fonts/UberMoveTextBold.otf);
}
@font-face {
  font-family: "MoveTextMedium";
  src: local("UberMoveTextMedium"), url(../fonts/UberMoveTextMedium.otf);
}
@font-face {
  font-family: "MoveTextRegular";
  src: local("UberMoveTextRegular"), url(../fonts/UberMoveTextRegular.otf);
}
@font-face {
  font-family: "MoveTextLight";
  src: local("UberMoveTextLight"), url(../fonts/UberMoveTextLight.otf);
}

.container {
  /* border: 1px solid black; */
  /* background-color: red; */
}

.containerCard {
  /* border: 1px solid black; */
  width: 40vmin;
  height: 60vmin;
}

.imageCardContainer {
  /* border: 1px solid black; */
  height: 30vmin;
}

.mainTitleCard {
  font-family: "MoveBold", sans-serif;
  font-size: 2.5vmin;
  padding-top: 20px;
}

.imageCardTrue {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.subTextCard {
  /* border: 1px solid black; */
  padding-top: 15px;
  font-size: 1.8vmin;
  height: 150px;
}

.specCardText {
  /* border: 1px solid black; */
}

.passengerLine {
  /* border: 1px solid black; */
  display: flex;
  font-family: "MoveTextMedium", sans-serif;
  color: #096ed4;
}

.linearSeparatorConnects {
  background-image: linear-gradient(#fff, #000, #fff);
  height: 250px;
  width: 1px;
  margin: auto;
}

/* Intro */
.introConnectsContainer {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vmin;
}

.introConnectsImgContainer {
  /* border: 1px solid black; */
  width: 80px;
  height: 80px;
}
.linkImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.subTextIntroConnects {
  /* border: 1px solid black; */
  padding-top: 20px;
}
