@font-face {
  font-family: "MoveBold";
  src: local("MoveBold"), url(../fonts/MoveBold.otf);
}
@font-face {
  font-family: "MoveMedium";
  src: local("MoveMedium"), url(../fonts/MoveMedium.otf);
}
@font-face {
  font-family: "MoveRegular";
  src: local("MoveRegular"), url(../fonts/MoveRegular.ttf);
}
@font-face {
  font-family: "MoveLight";
  src: local("MoveLight"), url(../fonts/MoveLight.ttf);
}
@font-face {
  font-family: "MoveTextBold";
  src: local("MoveTextBold"), url(../fonts/UberMoveTextBold.otf);
}
@font-face {
  font-family: "MoveTextMedium";
  src: local("UberMoveTextMedium"), url(../fonts/UberMoveTextMedium.otf);
}
@font-face {
  font-family: "MoveTextRegular";
  src: local("UberMoveTextRegular"), url(../fonts/UberMoveTextRegular.otf);
}
@font-face {
  font-family: "MoveTextLight";
  src: local("UberMoveTextLight"), url(../fonts/UberMoveTextLight.otf);
}

.container {
  /* border: 1px solid black; */
  text-align: left;
}

.mapContainer {
  /* border: 1px solid red; */
  background-color: #f0f0f0;
  height: 50vmin;
  margin-top: 30px;
}

.mapContainer {
  height: 500px;
  width: "100%";
}

.bodyPartFourContainer {
  background-color: red;
  background-color: #f8f9fb;
}

.leftPartBPOContainerBeforeFooter {
  /* border: 1px solid black; */
  /* background-color: rebeccapurple; */
  height: 70vmin;
  display: flex;
  justify-content: center;
}
.phone1 {
  object-fit: contain;
}
