@font-face {
  font-family: "MoveBold";
  src: local("MoveBold"), url(../fonts/MoveBold.otf);
}
@font-face {
  font-family: "MoveMedium";
  src: local("MoveMedium"), url(../fonts/MoveMedium.otf);
}
@font-face {
  font-family: "MoveRegular";
  src: local("MoveRegular"), url(../fonts/MoveRegular.ttf);
}
@font-face {
  font-family: "MoveLight";
  src: local("MoveLight"), url(../fonts/MoveLight.ttf);
}
@font-face {
  font-family: "MoveTextBold";
  src: local("MoveTextBold"), url(../fonts/UberMoveTextBold.otf);
}
@font-face {
  font-family: "MoveTextMedium";
  src: local("UberMoveTextMedium"), url(../fonts/UberMoveTextMedium.otf);
}
@font-face {
  font-family: "MoveTextRegular";
  src: local("UberMoveTextRegular"), url(../fonts/UberMoveTextRegular.otf);
}
@font-face {
  font-family: "MoveTextLight";
  src: local("UberMoveTextLight"), url(../fonts/UberMoveTextLight.otf);
}

.container {
  font-family: "MoveTextRegular", sans-serif;
  font-size: 2vmin;
  text-align: left;
}

.presentationContainer {
  padding-left: 10%;
  flex-direction: row;
  align-items: center;
  flex: 1;
  /* border: 1px solid black; */
  height: 70vmin;
}
.gridContainer {
  display: flex;
  flex: 1;
  height: 100%;
}

.leftpartContainer {
  flex-direction: row;
  display: inline-block;
  flex: 1;
  height: 100%;
}

.rightpartContainer {
  /* border: 1px solid blue; */
  height: 60vmin;
  flex: 1;
  flex-grow: 1;
}
.headerPic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

/** Header entry text **/
.prestTextEntryContainer {
}
.prestTextEntry {
  font-family: "MoveBold", sans-serif;
  font-size: 6vmin;
}

.presTextSubContainer {
  margin-top: 5%;
  /* border: 1px solid black; */
  width: 90%;
}
.presTextSub {
}

.presHaaderDownloadContainer {
  margin-top: 10%;
}

/* Body part one */
.bodyPartOneContainer {
  /* border: 1px solid black; */
  background-color: #f8f9fb;
  min-height: 70vmin;
  /* margin-top: 5%; */
  padding-top: 5%;
  padding-bottom: 5%;
}

.leftPartBPOContainer {
  /* border: 1px solid black; */
  /* background-color: rebeccapurple; */
  height: 70vmin;
  display: flex;
  justify-content: center;
}
.phone1 {
  object-fit: contain;
}

.rightPartBPOContainer {
  /* border: 1px solid red; */
  height: 70vmin;
}

/* Body part two */
.bodyPartTwoContainer {
  /* border: 1px solid black; */
  /* background-color: red; */
  min-height: 20vmin;
  margin-top: 5%;
  padding-top: 5%;
}

/* Body part three */
.bodyPartThreeContainer {
  min-height: 50vmin;
  margin-top: 5%;
}

/* Body part four */
.bodyPartFourContainer {
  /* border: 1px solid black; */
  background-color: #f8f9fb;
  min-height: 70vmin;
  margin-top: 10%;
  padding-top: 5%;
}

/* Body part five */
.bodyPartFiveContainer {
  /* border: 1px solid black; */
  min-height: 30vmin;
  margin-top: 10%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.businessContainer {
  /* border: 1px solid black; */
  height: 280px;
  background-color: #d0d0d0;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.7),
      rgb(0, 0, 0, 0.5)
    ),
    url("../Images/buildings1.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5%;
  display: flex;
  flex: 1;
  align-items: center;
  /* justify-content: center; */
}

.backgroundBusiness {
  width: 120%;
  height: 100%;
  object-fit: cover;
}

.insideBusinessC {
  /* border: 1px solid black; */
  padding-left: 10%;
  padding-right: 10%;
  flex: 1;
}

.titleBusi {
  font-family: "MoveTextBold", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}

.btnDeliverySol {
  border: 1px solid black;
  font-family: "MoveTextMedium", sans-serif;
  background-color: #000;
  color: #fff;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  cursor: pointer;
}
