@font-face {
  font-family: "MoveBold";
  src: local("MoveBold"), url(../fonts/MoveBold.otf);
}
@font-face {
  font-family: "MoveMedium";
  src: local("MoveMedium"), url(../fonts/MoveMedium.otf);
}
@font-face {
  font-family: "MoveRegular";
  src: local("MoveRegular"), url(../fonts/MoveRegular.ttf);
}
@font-face {
  font-family: "MoveLight";
  src: local("MoveLight"), url(../fonts/MoveLight.ttf);
}
@font-face {
  font-family: "MoveTextBold";
  src: local("MoveTextBold"), url(../fonts/UberMoveTextBold.otf);
}
@font-face {
  font-family: "MoveTextMedium";
  src: local("UberMoveTextMedium"), url(../fonts/UberMoveTextMedium.otf);
}
@font-face {
  font-family: "MoveTextRegular";
  src: local("UberMoveTextRegular"), url(../fonts/UberMoveTextRegular.otf);
}
@font-face {
  font-family: "MoveTextLight";
  src: local("UberMoveTextLight"), url(../fonts/UberMoveTextLight.otf);
}

.container {
  /* border: 1px solid black; */
  min-height: 70vmin;
  font-size: 1.8vmin;
  text-align: left;
}

.headerPrivacy {
  /* border: 1px solid black; */
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.downloadTerms {
  font-family: "MoveTextBold", sans-serif;
  font-size: 2vmin;
  color: #0e8491;
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.titleHeadPrivacy {
  font-family: "MoveTextBold", sans-serif;
  font-size: 2.2vmin;
  margin-bottom: 10px;
}
.dateUpdated {
  font-size: 1.7vmin;
  margin-bottom: 30px;
}

.makeBold {
  font-family: "MoveTextBold", sans-serif;
}

.pointsContainer {
  /* border: 1px solid black; */
  padding-left: 10%;
  padding-right: 10%;
}

.pointContainer {
  margin-bottom: 10%;
}

.introTitlePoint {
  /* border: 1px solid black; */
  margin-bottom: 30px;
}

.pointTitle {
  font-family: "MoveTextBold", sans-serif;
  font-size: 2.2vmin;
  color: #0e8491;
  /* border: 1px solid black; */
  margin-bottom: 20px;
}
.pointContentContainer {
  /* border: 1px solid black; */
}
.textPointSingle {
  /* border: 1px solid red; */
  display: flex;
  margin-bottom: 15px;
}

.dotContainer {
  margin-right: 5px;
  position: relative;
  bottom: 2px;
  /* border: 1px solid black; */
}
.pointTrueText {
  /* border: 1px solid red; */
  line-height: 22px;
}

.pointTitleWithSuperTitle {
  /* border: 1px solid black; */
}

.superTitlePoint {
  margin-bottom: 10px;
  font-family: "MoveTextMedium", sans-serif;
  font-size: 2vmin;
}
.subTitleSuperText {
  /* border: 1px solid black; */
  font-family: "MoveTextBold", sans-serif;
  font-size: 1.5vmin;
  margin-bottom: 10px;
}

.pointContainer2ndForm {
  /* border: 1px solid black; */
  display: flex;
}

.superTitlePointDeep {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "MoveTextMedium", sans-serif;
  font-size: 2vmin;
}
